img {
	border:0 !important;
}

section img.speaker {
	vertical-align:middle;
}

section img.waiting-top-left {
	position:absolute;
	top:0px;
	left:260px;
}

section img.waiting-top-right {
	position:absolute;
	top:0px;
	right:260px;
}

section img.rotate-left {
	transform: rotate(-10deg);
}

section img.rotate-right {
	transform: rotate(10deg);
}

section img.no-margin {
	margin: 0px;
}

p.source {
	line-height: 1.0;
	font-size: 12px;
}

span.small {
	line-height: 1.0;
	font-size: 18px;
}